* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.app {
	height: 100vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.time-select, 
.sound-picker,
.player-container {
	height: 80%;
	flex: 1;
}

.time-select {
	background: lightblue;
}

.player-container {
	background: lightcoral;
}

.sound-picker {
	background: lightgreen;
}

video {
	display: none;
}